@charset "utf-8";

/* font-family: 'Poppins', 's-core-dream', cursive, sans-serif; */

/* 'Poppins', 's-core-dream' */
@import url(../common/fonts/fonts.css);

/* 변수선언 */
@import url(../common/variable.css);

/*********** about content jh  **********/
/* 공통 css 우선 작성 */

body {
  background-color: #01c2c1;
}

.about {
  width: 80%;
  margin: 15vw auto 0;
  font-family: var(--font-family-ko);
  font-weight: 600;

  position: relative;
}

.about h3 {
  font-size: var(--font-size-23);
  color: #fff;
  margin-bottom: 2vw;
  transition: 0.2s ease-in-out;
}

.about h2 .block {
  display: block;
}

.about p {
  font-size: var(--font-size-16);
  font-weight: 400;
  line-height: 2;
}

/* svg */
svg {
  width: 73vw;
  height: 46.12vw;
  fill: none;
  stroke: #feed00;
  stroke-width: var(--font-size-16);

  position: absolute;
  top: 15vw;
  left: -6vw;

  z-index: 9;
}

/* 개별 css값 적용 */
/* 타이틀작성 */

.about > h3 {
  position: relative;
}

.about > h3::after {
  content: '';
  display: block;
  width: 35px;
  height: 4px;
  background-color: #fff;

  position: absolute;
  top: 60px;
  left: 1.5px;
}

.about > h2 {
  font-size: var(--font-size-50);
  font-weight: 700;
  color: #fff;
  padding-top: 28px;
}

/* 본문 작성 */

.about .about-wrapper {
  margin-top: 10vw;
  width: 100%;
}

/* 본문 상단 txt */
.about .about-wrapper .txt-box1 {
  margin-left: 35%;
  margin-bottom: 5vw;
}

.about .about-wrapper .txt1 p {
  margin-bottom: 2vw;
}

/* 본문 하단 txt */
.about .about-wrapper .about-wrap {
  display: flex;
}

.about .about-wrapper .about-wrap .img-box {
  width: 35%;
  height: 100%;

  display: grid;
  justify-content: flex-start;
  align-items: end;

  position: relative;
}

.about .about-wrapper .about-wrap .img-box img {
  padding-right: 5vw;

  position: absolute;
  top: 0;
}

/* 이미지 호버 이벤트 */
.about .about-wrapper .about-wrap .img-box .img2 {
  display: none;
}

.about .about-wrapper .wrap1:hover .img2 {
  display: block;
}
.about .about-wrapper .wrap1:hover .img1 {
  display: none;
}

.about .about-wrapper .wrap2:hover .img2 {
  display: block;
}
.about .about-wrapper .wrap2:hover .img1 {
  display: none;
}

.about .about-wrapper .wrap3:hover .img2 {
  display: block;
}
.about .about-wrapper .wrap23:hover .img1 {
  display: none;
}

/* 영역도착시 밑줄이벤트 */

.about .about-wrapper .about-wrap .txt-box2 {
  width: 65%;
  margin-bottom: 3vw;
}
.about .about-wrapper .about-wrap .txt-box2 .bold {
  font-weight: 700;
  box-shadow: inset 0 0 0 0 #feed00;
  color: #000;
  padding: 0 0.25rem;
  margin: 0 -0.25rem;
  transition: color 1s ease-in-out, box-shadow 0.5s ease-in-out;
}

/* jh 영역 도달시 밑줄 이벤트발생, js연결 */
.about .about-wrapper .about-wrap .evet-box1.under .bold {
  box-shadow: inset 800px 0 0 0 #feed00;
}
.about .about-wrapper .about-wrap .evet-box2.under .bold {
  box-shadow: inset 800px 0 0 0 #feed00;
}
.about .about-wrapper .about-wrap .evet-box3.under .bold {
  box-shadow: inset 800px 0 0 0 #feed00;
}

.about .about-wrapper .txt-box3 {
  color: #fff;
  margin-left: 35%;
  margin-bottom: 6vw;
}

/*----- jh hk footer 수정  -----*/
/*----- hk footer -----*/
footer {
  width: 93.23vw;
  height: 30.47vw;
  color: #fff;
  margin: 0 auto;
  border-radius: 40px 40px 0 0;
  background: #ed5029 url(../images/f_title_01.svg) no-repeat 50% 10% /90%;
  font-family: var(--font-family-ko);
  font-size: 1rem;
  font-weight: 400;

  display: flex;
  justify-content: space-between;

  position: relative;
  z-index: 999;
}

footer .box-left {
  margin: 15.36vw 0 0 7.29vw;
}
footer .box-left img {
  width: 15.63vw;
}
footer .box-left ul {
  display: flex;
  margin-top: 1.04vw;
  font-family: var(--font-family-en);
  font-weight: 600;
  padding: 0;
}
footer .box-left ul li {
  margin-right: 1.56vw;
}
footer .box-left ul li a {
  position: relative;
}
footer .box-left ul li:nth-child(1) a::after,
footer .box-left ul li:nth-child(2) a::after {
  content: '';
  width: 1px;
  height: 12px;
  background-color: #fff;
  position: absolute;
  top: 5px;
  right: -15px;
}
footer .box-left p {
  margin-top: 40px;
  font-size: 13px;
  opacity: 0.5;
  font-weight: 100;
}

footer .icon-git {
  width: 47.5px;
  height: 303px;
  position: absolute;
  right: 470px;
  bottom: 0;
}
footer .team {
  margin-top: 295px;
  font-size: 14px;
  line-height: 35px;
  position: absolute;
  right: 140px;
  bottom: 105px;
  word-spacing: 10px;
}
footer .team li:nth-child(1) {
  line-height: 60px;
  letter-spacing: 1px;
  word-spacing: 4px;
}
footer .team li:nth-child(2),
footer .team li:nth-child(3),
footer .team li:nth-child(4),
footer .team li:nth-child(5) {
  text-indent: 20px;
}
footer .team li span {
  font-weight: 600;
}
footer .team li a:hover {
  text-decoration: underline;
}

/* jh footer 가로 스크롤 없애기 */
.section-wrapper {
  width: 100%;
  overflow: hidden;
}
