@charset 'utf-8';

/* @import url(/common/fonts/fonts.css); */

::selection {
  background-color: #ff7418;
  color: #fff;
}

body {
  background-color: var(--point-color-y);
  font-family: var(--font-family-ko);
}

.flex {
  display: flex;
  justify-content: space-between;
}

header {
  margin-bottom: 100px;
  transition: 1s;
}
header.scrollDown {
  transform: translate(0, -160px);
}

main .Map_logo {
  width: 300px;
  display: block;
  margin: 200px auto;
  margin-bottom: 120px;
}

/* section1 지도 */
.section1 {
  width: 70%;
  margin: 0 auto;
}

.section1 img:nth-child(1) {
  margin-bottom: 100px;
}

/* sy 아이콘 */
.section2 {
  margin: 0 auto;
  width: 100%;
  height: 400px;
  background: url(./images/Map_bg01.png) no-repeat 50% / cover;
  background-size: 100% 350px;
  text-align: center;
}

.section2 .icon-text {
  position: relative;
  top: 50px;
  width: 80%;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 130px;
}

.section2 .icon-text figure {
  display: flex;
  align-items: center;
}

.section2 .icon-text figure img {
  width: 80px;
  margin: 30px;
}

.section2 .icon-text figure figcaption {
  width: 140px;
  text-align: left;
}

.section2 .icon-text figure figcaption h1 {
  font-size: var(--font-size-22);
  color: #fff;
  font-weight: bold;
  font-family: var(--font-family-ko);
}

.section2 .icon-text figure figcaption p {
  font-size: var(--font-size-14);
  color: #fff;
  font-weight: bold;
  font-family: var(--font-family-en);
}

/* sy 지도 설명 섹션 */
.section3 {
  width: 100%;
  margin: 100px auto;
  margin-bottom: 200px;
}

.section3 ul {
  width: 100%;
  padding: 30px 280px;
  font-size: var(--font-size-23);
}

.section3 ul li {
  display: flex;
  align-items: center;
  line-height: 1.5;
  margin: 30px 0;
}

.section3 .korea img,
.section3 .english img {
  width: 15px;
  margin-right: 20px;
}
